@font-face {
    font-family: montserrat-light;
    src: url(../assets/font/static/Montserrat-Light.ttf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(../assets/font/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserrat-regular-italic;
    src: url(../assets/font/static/Montserrat-MediumItalic.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(../assets/font/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-extra-bold;
    src: url(../assets/font/static/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: montserrat-semi-bold;
    src: url(../assets/font/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: moondance;
    src: url(../assets/font/Moon_Dance/MoonDance-Regular.ttf);
}