@media (max-width:1640px) {
    #contato-content {
        display: flex !important;
        /* flex-direction: column !important; */
        justify-content: center !important;
        /* gap: 70px !important; */
    }
}

@media (max-width:1590px) {
    #contato-content>a {
        display: none !important;
    }

    #second-img-mapa {
        display: block !important;
        text-align: center;
        width: 600px !important;
        margin: auto !important;
        margin-top: 80px !important;
    }

    #second-img-mapa img {
        width: 600px !important;

    }
}

@media (max-width:1540px) {
    #section-home {
        overflow-x: hidden;
    }

    ul {
        gap: 20px !important;
    }

    /* PORTFOLIO */

    #portfolio-content img {
        width: 325px !important;
        height: 450px !important;
    }

    #portfolio-content p {
        font-size: 20px !important;
    }

    .div-split-section h1 {
        font-size: 40px !important;
    }

    /* SOBRE MIM */

    #sobre-mim-content>img {
        width: 400px !important;
        height: 600px !important;
    }

    #sobre-mim-content>div {
        font-size: 24px !important;
        line-height: 50px !important;
    }
}

@media (max-width:1140px) {
    ul {
        gap: 10px !important;
    }

    ul li a {
        font-size: 16px !important;
    }
}

/* Responsividade */
@media (max-width: 1024px) {
    #section-home {
        flex-direction: column !important;
        height: auto !important;
        padding: 100px 3rem 0px 3rem !important;
        text-align: center !important;
    }

    #button-toggle-menu {
        display: block !important;
        z-index: 2000;
    }

    #nav-menu {
        position: fixed !important;
        background-color: #5b6044 !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        padding: 0px 0 !important;
        z-index: 1000 !important;
        overflow-y: hidden;
        height: 0px;
    }

    ul {
        flex-direction: column !important;
        align-items: center !important;
        gap: 0px !important;
        padding: 0px 0 !important;
        height: fit-content !important;
        overflow: hidden;
    }

    ul li {
        padding: 0px 0px !important;
        width: 100%;
        text-align: center;
    }

    ul li a {
        font-size: 20px !important;
        padding: 15px !important;
        width: 100%;
        display: block;
    }

    .home-content {
        width: 100% !important;
        align-items: center !important;
    }

    .home-content>div h1 {
        font-size: 2.8rem !important;
    }

    .home-content>div h2 {
        font-size: 1.2rem !important;
    }

    .home-content>a:nth-child(3) {
        padding: 0px 10px !important;
    }

    .img-home {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
    }

    .img-home>img {
        position: static !important;
        max-width: 80% !important;
    }

    /* ESPECIALIDADES */
    .split-barra {
        height: 5px !important;
    }

    .div-split-section {
        flex-direction: column !important;
        text-align: center !important;
    }

    .div-split-section>div {
        width: 100% !important;
    }

    .item-line-especialidades {
        flex-direction: column !important;
    }

    .item-bg-escuro,
    .item-bg-claro {
        width: 100% !important;
        padding: 50px 0px !important;
        height: auto !important;
        font-size: 18px !important;
    }

    /* PORTFOLIO */

    #portfolio-content img {
        width: 245px !important;
        height: 370px !important;
    }

    #portfolio-content p {
        font-size: 18px !important;
    }

    /* SOBRE MIM */

    #sobre-mim-content {
        flex-direction: column !important;
        text-align: center !important;
    }

    #sobre-mim-title>div>div:nth-child(1) {
        display: none !important;
    }

    #sobre-mim-title>div>div:nth-child(2) {
        display: none !important;
    }

    #sobre-mim-title h1 {
        margin: auto;
    }

    #sobre-mim-content>div {
        width: 100% !important;
        font-size: 24px !important;
        padding: 0px !important;
    }

    #sobre-mim-content>img {
        max-width: 100% !important;
        margin: auto !important;
        margin-top: 50px !important;
    }

    /* FEEDBACKS */

    #feedbacks-title>div>div:nth-child(1) {
        display: none;
    }

    #feedbacks-title>div>div:nth-child(2) {
        display: none;
    }

    #feedbacks-title h1 {
        margin: auto;
        border-bottom: 2px solid var(--cor-3);
    }
}

@media (max-width: 1000px) {
    #div-arraste-lado {
        display: flex !important;
    }
}

@media (max-width:930px) {

    /* CONTATO */
    #section-contato {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #contato-content>div:nth-child(1) {
        width: 50%;
        align-items: center !important;
    }

    #contato-content>div:nth-child(2) {
        width: 50%;
        align-items: center !important;
    }

    #contato-content>div:nth-child(1) p {
        font-size: 16px !important;
    }

    #contato-content>div:nth-child(2) p {
        font-size: 16px !important;
    }

    #contato-content>div:nth-child(1)>div:nth-child(1),
    #contato-content>div:nth-child(1)>div:nth-child(2),
    #contato-content>div:nth-child(1)>div:nth-child(3) {
        padding-left: 0px !important;
    }

    #contato-content>div:nth-child(2)>div:nth-child(1),
    #contato-content>div:nth-child(2)>div:nth-child(2) {
        padding-left: 0px !important;
    }
}

@media (max-width: 768px) {
    ul {
        gap: 15px !important;
    }

    ul li a {
        font-size: 18px !important;
        padding: 12px !important;
    }

    #section-home {
        padding: 100px 3rem 0px 3rem !important;
    }

    .home-content>div h1 {
        font-size: 2.2rem !important;
    }

    .home-content>div h2 {
        font-size: 1rem !important;
    }

    .home-content>p:nth-child(2) {
        font-size: 18px !important;
    }

    .home-content>a:nth-child(3) {
        font-size: 16px !important;
        padding: 0px 15px 0px 10px !important;
    }

    .home-content>a:nth-child(3)>img {
        width: 50px !important;
        height: 50px !important;
    }

    /* PORTFOLIO */

    #portfolio-content {
        flex-direction: column !important;
        align-items: center !important;
        margin-top: 80px !important;
    }

    #portfolio-content>div {
        max-width: 100% !important;
    }

    #portfolio-content p {
        font-size: 20px !important;
    }


    #portfolio-content img {
        width: 325px !important;
        height: 450px !important;
    }

    #portfolio-content>div {
        margin-bottom: 40px;
    }

    /* SOBRE MIM */

    #section-sobre-mim>div:nth-child(1) {
        margin-bottom: 40px;
    }

    #img-logo-sobre-mim {
        width: 120px !important;
        transform: translateY(-125px) !important;
    }

    #section-sobre-mim {
        padding: 50px 20px !important;
    }

    #sobre-mim-title h1 {
        font-size: 30px !important;
    }

    #sobre-mim-content>div {
        font-size: 20px !important;
        line-height: 1.4 !important;
    }

    #sobre-mim-content>img {
        max-width: 90% !important;
    }

    /* FEEDBACKS */

    #section-feedbacks {
        padding: 150px 0px !important;
    }

    /* CONTATO */


}

@media (max-width: 620px) {

    #second-img-mapa {
        width: 100% !important;
    }

    #second-img-mapa img {
        width: 100% !important;
    }
}

@media (max-width: 600px) {

    /* ESPECIALIDADES */
    .split-barra {
        height: 2px !important;
    }

    .div-split-section h1 {
        font-size: 32px !important;
    }

    .item-bg-escuro,
    .item-bg-claro {
        padding: 30px 0px !important;
        font-size: 16px !important;
    }
}

@media (max-width:580px) {

    /* ESPECIALIDADES */

    #buttons-prev-next {
        display: flex !important;
    }

    .item-especialidade {
        position: absolute;
        width: 100% !important; /* Ajuste conforme necessário */
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
        opacity: 0;
        pointer-events: none;
        background-color: var(--cor-2) !important;
        color: var(--cor-4) !important;
    }

    .item-bg-claro h1 {
        background-color: transparent !important;
        color: var(--cor-4) !important;
    }
    
    .item-especialidade.active {
        opacity: 1;
        transform: rotateY(0deg);
        pointer-events: auto;
    }
    
    .item-especialidade.prev {
        transform: rotateY(-180deg);
    }
    
    .item-especialidade.next {
        transform: rotateY(180deg);
    }
    

    /* PORTFOLIO */

    #section-portfolio {
        margin-top: 450px !important;
    }

    #div-arraste-lado {
        font-size: 20px !important;
        right: 10px !important;
    }

    /* FEEDBACKS */

    #feedbacks-title h1 {
        font-size: 30px !important;
    }

    #feedbacks-content>div {
        border-radius: 0px !important;
    }

    #feedbacks-content>div>div h1 {
        font-size: 20px !important;
    }

    #feedbacks-content>div>p {
        font-size: 16px !important;
    }

    #feedbacks-content>div>div>i {
        padding: 8px !important;
        font-size: 20px !important;
    }

    /* CONTATO */

    #contato-content>div:nth-child(1)>div {
        flex-direction: column;
    }

    #contato-content>div:nth-child(2)>div {
        flex-direction: column;
        align-items: center !important;
    }


    #contato-content>div:nth-child(1) p {
        font-size: 14px !important;
    }

    #contato-content>div:nth-child(2) p {
        font-size: 14px !important;
        text-align: center !important;
    }
}


@media (max-width: 480px) {
    ul {
        gap: 10px !important;
    }

    ul li a {
        font-size: 16px !important;
        padding: 10px !important;
    }

    #section-home {
        padding: 100px 3rem 0px 3rem !important;
    }

    .home-content>div h1 {
        font-size: 1.8rem !important;
    }

    .home-content>div h2 {
        font-size: 0.9rem !important;
    }

    .home-content>p:nth-child(2) {
        font-size: 16px !important;
    }

    .home-content>a:nth-child(3) {
        padding: 0px 15px 0px 10px !important;
    }

    .home-content>a:nth-child(3)>p {
        font-size: 14px !important;
    }

    .home-content>a:nth-child(3)>img {
        width: 40px !important;
        height: 40px !important;
    }

    .img-home>img {
        max-width: 90% !important;
    }

    /* ESPECIALIDADES */

    .item-bg-claro h1,
    .item-bg-escuro h1 {
        font-size: 25px !important;
    }

    /* SOBRE MIM */

    #sobre-mim-content>img {
        height: 550px !important;
    }

    /* FEEDBACKS */

    #feedbacks-title h1 {
        font-size: 22px !important;
    }
}

@media (max-width: 430px) {
    /* SOBRE MIM */

    #sobre-mim-content>img {
        width: 280px !important;
        height: 430px !important;
    }

    /* PORTFOLIO */

    #div-arraste-lado {
        font-size: 16px !important;
        top: 100px !important;
    }
}